.welcome.jumbotron {
  // height: 500px;
  height: 700px;
  text-align: center;
  padding: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    font-size: 55px;
    line-height: 1;
    color: white;
    text-shadow: 0 0 20px rgba(0,0,0,0.75);
  }

  .lead {
    font-size: 24px;
    line-height: 1.25;
    // padding: .5em 0 .3em 0;
    padding: .5em 0 3em 0;
    color: white;
    text-shadow: 0 0 20px rgba(0,0,0,0.75);
  }

  form {
    input {
      font-size: 1.4em;
      width: 640px;
      height: 48px;
    }
    button {
      font-size: 24px;
    }
  }

  .overvid {
     position: absolute;
     top: 0px;
     left: 0px;
     right: 0px;
     bottom: 0px;
      z-index: 10;
      padding: 130px 0;
  }

  .blurryvid {
      position: absolute;
      left: 0px;
      top: -58px;
      overflow: hidden;
      z-index: 0;

      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      overflow: hidden;

      filter: blur(5px);
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);

  }



  .btn-group > .btn {
    color: white;
    font-size: 21px;
    margin-top: 22px;
    text-shadow: 0 0 20px rgba(0,0,0,0.75);

    &:after {
      position: absolute;
      z-index: 5;
      content: "";
      left: 40px;
      bottom: 8px;
      right: 24px;
      border-top: 2px solid rgba(255, 255, 255, 0.5);
    }


    &:hover {
      color: darken(white, 10%)
    }
  }
}

.ng-scope {
   z-index: 5;
   backgroud-color: white;
}

.marketing {

  z-index: 5;
  background-color: white;
  padding-top: 50px;
  margin-bottom: -30px; // Here be dragons
  
  h3 {
    color: @mid-grey;
    margin-bottom: 40px;
  }

  .row {
    margin-bottom: 10px;
  }

  .row:last-child {
    margin-bottom: 0;
  }
  
  h4 [class*=" icon-"], h4 [class^="icon-"] {
    margin-right: 5px;
    vertical-align: -10%;
    font-size: 28px;
    line-height: 1;
  }
}

